<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flux Tweets</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    {{{ body }}}
    <footer>
      <p class="footnote">
        Tinkered with<span class="heart"> ♥</span> by<a href="http://andreapavoni.com"> Andrea Pavoni</a> - fork this project on<a href="https://github.com/apeacox/flux-tweets"> github</a>.
        This work is based on this awesome tutorial: <a target="_blank" href="http://scotch.io/tutorials/javascript/build-a-real-time-twitter-stream-with-node-and-react-js">Learning React: Building A Real-Time Node and React Application</a> by <a target="_blank" href="http://twitter.com/ken_wheeler">@ken_wheeler</a>
      </p>
    </footer>
    {{#if productionEnv }}
      <script async src="js/bundle.min.js"></script>
    {{else}}
      <script async src="js/bundle.js"></script>
    {{/if}}
  </body>
</html>
